<h1>Sign Up</h1>
<%= form_for @user do |form|%>
  <%= form.label :name%> <br>
  <%= form.text_field :name%> <br>
  <%= form.label :email%><br>
  <%= form.email_field :email %><br>
  <%= form.label :password %><br>
  <%= form.password_field :password %><br>
  <%= form.submit %>
<%end%>

