<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<h2><%= @user.name  %>'s profile</h2>

  <div class="left-half">


<% if existing_friendship?(current_user, @user) %>
  You are friends with <%= @user.name %>.

<% elsif current_user.id != @user.id %>
  <%= button_to 'add friend', friends_path({ friend: { requester_id: current_user.id, requestee_id: @user.id } }), method: :post, :class => "friend_button" %>

<% end %>
<section class="container">
<%= render "posts/post_form" %>
<br>
<%= render "posts/posts_list" %>
<br>
<br>

<div class="right-half">

<h2><%= @user.name %>'s friends:</h2>

<% if @friends.length == 0 %>
  <p><%= @user.name %> has no friends.</p>

<% else %>
<div class="friend_names">
  <% @friends.each do |friend| %>
  <p><a <%="href=#{friend.id}"%> ><%= friend.name %></a></p>
  <% end %>
</div>
<% end %>
</div>
</section>