<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<%= @user.name  %>'s Profile Page

<% if existing_friendship?(current_user, @user) %>
  <p>You are friends with <%= @user.name %>.</p>

<% elsif current_user.id != @user.id %>
  <%= button_to 'Add Friend', friends_path({ friend: { requester_id: current_user.id, requestee_id: @user.id } }), method: :post, :class => "button" %>

<% end %>
<hr>
<h2>posts:</h2>
<%= render "posts/post_form" %>
<%= render "posts/posts_list" %>
<hr>
<h2>friends:</h2>

<% if @friends.length == 0 %>
  <p><%= @user.name %> has no friends.</p>

<% else %>
<div class="friend_names">
  <% @friends.each do |friend| %>
  <a <%="href=#{friend.id}"%> ><%= friend.name %></a>
  <% end %>
</div>
<% end %>
