<%= @user.name  %>'s Profile Page

<% if existing_friendship?(current_user, @user) %>
  <p>You are friends with <%= @user.name %>.</p>

<% elsif current_user.id != @user.id %>
  <%= button_to 'Add Friend', friends_path({ friend: { requester_id: current_user.id, requestee_id: @user.id } }), method: :post, :class => "button" %>

<% end %>

<hr>
<h2>posts:</h2>
<% @profile_posts.each do |post| %>
  <div class="post">
    <h3 class="name"><%= User.find_by(id: post.user_id).name %></h3>
    <p class="message"><%= post.message %> </p>
    <p class="edited"><%= "edited" if post.updated_at != post.created_at %> </p>
    <p class="post_time"><%= post.updated_at %></p>
    <% if current_user.id == post.user_id %>
      <div class="delete_edit"><%= link_to 'delete', post_path(post),
                                           method: :delete,
                                           data: { confirm: 'Are you sure?' } %> |
        <%= link_to "edit", edit_post_path(:id => post.id) %></div>
    <% end %>
    <label id=<%="post_flash_" + post.id.to_s %>  style="color:darksalmon; font-style:italic; font-size:85%;"> <%=flash[post.id.to_s]%></label>

    <div class="like"><%= button_to 'ðŸ‘', post_likes_path(:post_id => post.id), method: :post, :class => "like_button" %>
      <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'like' : 'likes'%></div>

    <script>
        setTimeout(function(){$('#post_flash_<%=post.id.to_s%>').fadeOut();}, 3000);
    </script>
  </div>
<% end %>

<hr>
<h2>friends:</h2>

<% if @friends.length == 0 %>
  <p><%= @user.name %> has no friends.</p>

<% else %>
<div class="friend_names">
  <% @friends.each do |friend| %>
  <a <%="href=#{friend.id}"%> ><%= friend.name %></a>
  <% end %>
</div>
<% end %>
