<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<h2>Welcome, <%= current_user.name %></h2>
<div id="new_post">
  <%= link_to new_post_path do %>
    new post
  <% end %>
  <br>
  <br>

</div>

<div class="news_feed">
  <% @posts.each do |post| %>
    <div class="post">
    <h3 class="name"><%= User.find_by(id: post.user_id).name %></h3>
    <p class="message"><%= post.message %> </p> 
    <p class="edited"><%= "edited" if post.updated_at != post.created_at %> </p>
    <p class="post_time"><%= post.updated_at %></p>
    <% if current_user.id == post.user_id %>
          <div class="delete_edit"><%= link_to 'delete', post_path(post),
          method: :delete,
          data: { confirm: 'Are you sure?' } %> |
          <%= link_to "edit", edit_post_path(:id => post.id) %></div>
        <% end %>
    <label id=<%="post_flash_" + post.id.to_s %>  style="color:darksalmon; font-style:italic; font-size:85%;"> <%=flash[post.id.to_s]%></label>

    <div class="like"><%= button_to 'ðŸ‘', post_likes_path(:post_id => post.id), method: :post, :class => "like_button" %> 
    <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'like' : 'likes'%></div>
    
      <script>
        setTimeout(function(){$('#post_flash_<%=post.id.to_s%>').fadeOut();}, 3000);
      </script>
    </div>

    <%= form_with(model: [ post, post.comments.build ], local: true) do |form| %>
      <%= form.hidden_field :user_id, :value => current_user.id %> <br>
      <br>
      <%= form.text_area :body %>
      <%= form.submit %>
      <% end %>
      
  
      <h2>Comments</h2>
  
      <% (0...post.comments.length-1).each do |index|  %>
       
  
       
        <p>commenter: <%= User.find_by(id: post.comments[index].user_id).name %> 
          
          <p>Comment:</p>
          <%= post.comments[index].body %> 
          <% if current_user.id == post.comments[index].user_id %>
          <%= link_to 'Destroy Comment', [post.comments[index].post, post.comments[index]],
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
          <%= link_to "Edit Comment", edit_post_comment_path(:id => post.comments[index].id, :post_id => post.id) %>
          <%end%>
        </p>
      <% end %>  
  
    
    <br class="news_break">
  <% end %>
</div>
